@using DataLayer.Repositories.Factory
@using DataLayer.Models
@{
    ViewBag.Title = "Home";

    SelectList ddlCities = new SelectList(
            items: (RepoFactory.GetRepo()).LoadCities(),
            dataTextField: "Name",
            dataValueField: "Id"
        );

    IList<SelectListItem> ddlFilterItems = new List<SelectListItem>();

    ddlFilterItems.Add(new SelectListItem { Text = "Lowest price", Value = "PLH" });
    ddlFilterItems.Add(new SelectListItem { Text = "Highest price", Value = "PHL" });
    ddlFilterItems.Add(new SelectListItem { Text = "Least rooms", Value = "RLH" });
    ddlFilterItems.Add(new SelectListItem { Text = "Most rooms", Value = "RHL" });
    ddlFilterItems.Add(new SelectListItem { Text = "Least space", Value = "SLH" });
    ddlFilterItems.Add(new SelectListItem { Text = "Most space", Value = "SHL", Selected = true });

    SelectList ddlFiltersSource = new SelectList(ddlFilterItems, "Value", "Text");

    IList<SelectListItem> ddlStatusItems = new List<SelectListItem>();

    ddlStatusItems.Add(new SelectListItem { Text = "All apartments", Value = "all" });
    ddlStatusItems.Add(new SelectListItem { Text = "Available apartments", Value = "available", Selected = true });
    ddlStatusItems.Add(new SelectListItem { Text = "Unavailable apartments", Value = "unavaliable" });

    SelectList ddlStatusSource = new SelectList(ddlStatusItems, "Value", "Text");
}

<div class="container-fluid mt-5 font-goth" style="color: #124773">
    <div class="row">
        <div class="col-sm-10 offset-sm-1 hstack gap-5">
            @Html.TextBox(name: "Search", value: "", htmlAttributes: new { @class = "form-control", placeholder = "Search apartment..." })
            @Html.DropDownList(optionLabel: "Any city", selectList: ddlCities, name: "CityId", htmlAttributes: new { @class = "form-control", id = "cityddl" })
            @Html.DropDownList(optionLabel: null, selectList: ddlStatusSource, name: "StatusId", htmlAttributes: new { @class = "form-control", id = "statusddl" })
            @Html.DropDownList(optionLabel: null, selectList: ddlFiltersSource, name: "FilterCode", htmlAttributes: new { @class = "form-control", id = "filterddl" })
            <button type="button" class="btn btn-primary btn-custom" id="btnSearch">Search</button>
        </div>
    </div>

    <br />

    <div class="row font-goth">
        <div class="col-sm-10 offset-sm-1 draw_apartments">
        </div>
    </div>
</div>

@section scripts{
    <script>
        $("#filterddl").val("SHL");

        $("#statusddl").val("available");

        $("#cityddl, #statusddl, #filterddl").each(function () {
            $(this).change(function () {
                loadApartmentListPartialViewAjax();
            });
        });

        $("#Search").autocomplete({
            source: '@Url.Action(actionName: "GetApartmentNames", controllerName: "Ajax")',
            minLength: 2,
            select: function (e, ui) {
                e.preventDefault();
                console.log(ui);
                var clickedName = ui.item.label;
                $(this).val(clickedName);
                return false;
            }
        });

        $(document).ready(function () {
            loadApartmentListPartialViewAjax();
        });

        $("#btnSearch").click(function () {
            loadApartmentListPartialViewAjax();
        });

        function loadApartmentListPartialViewAjax() {
            $.ajax({
                method: 'GET',
                url: `/Home/LoadApartmentListPartialView/?Search=${$("#Search").val()}&CityId=${$("#cityddl").val()}&StatusId=${$("#statusddl").val()}&FilterCode=${$("#filterddl").val()}`,
                success: function (partialView) {
                    $(".draw_apartments").fadeIn(500);
                    $(".draw_apartments").html("");
                    $(".draw_apartments").append(partialView);
                }
            });
        }
    </script>
}
