@model Public.Models.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
}

<div class="container col-sm-6 offset-sm-3" style="font-family:'Century Gothic'" id="popup_login">
    @using (Html.BeginForm("Login", "Home", null, FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="card" style="background: #12477360">

            <div class="container" style="display:flex; justify-content:center; align-items:center">
                <img src="~/Content/images/IKONA_apartmani_1_veći.png" style="width:150px; height:150px" />
            </div>

            <h2 class="text-center display-2" style="color:#124773"><strong>Login page</strong></h2>
            <br />

            <div class="row mb-3">
                <label for="emailInput" class="col-sm-2 col-form-label">Email address:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Email, htmlAttributes: new { @class = "form-control", style = "text-align:center", placeholder = "E-mail address", id = "emailInput" })
                </div>
            </div>

            <div class="row mb-3">
                <label for="passwordInput" class="col-sm-2 col-form-label">Password:</label>
                <div class="col-sm-10">
                    @Html.PasswordFor(m => m.Password, htmlAttributes: new { @class = "form-control", style = "text-align:center", placeholder = "Password" })
                </div>
            </div>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger">
                    <img src="~/Content/images/warning.png" aria-hidden="true" />
                    @Html.ValidationSummary()
                </div>
            }

            <div class="mb-3">
                <button type="submit" class="btn btn-outline-dark" style="background: #124773"><strong>Login</strong></button>
            </div>
            <div class="mb-3">
                @Html.ActionLink("Don't have an account? Register here", actionName: "Register", controllerName: "Homes")
            </div>
        </div>
    }
</div>