@using Public.Models.ViewModels
@model DataLayer.Models.AptMVC
@{
    StarsVM starsModel = new StarsVM
    {
        Stars = Model.Stars,
        TotalReviews = Model.TotalReviews,
        ShowTotalReviews = false
    };
}

<a href="Home/ViewApartment/@Model.Id">
    <div class="rounded p-3 mb-3" style="background-color: #12477320">
        <div class="row">
            <div class="col-sm-4">
                <img src="@Model.MainPicture.Base64Content" class="rounded" style="width: 100%; aspect-ratio: 6/4;" />
            </div>

            <div class="col-sm-6">
                <div class="text-custom-blue">
                    <div class="col-sm">
                        <p class="fs-3"><strong>@Model.NameEng</strong></p>

                        <p class="fs-6">
                            <strong>City:</strong> @Model.CityName
                            <br />

                            <strong>Address:</strong> @Model.Address
                            <br />
                        </p>

                        <p class="fs-6">
                            <strong>Total spaces:</strong> @Model.TotalPeople.ToString()
                            <br />
                            <strong>Distance to beach:</strong> @Model.BeachDistance.ToString()m
                        </p>
                    </div>
                    <br />

                    <div class="fs-6">
                        <strong>Tags:</strong>
                    </div>

                    <div class="row">
                        <div style="display:flex; flex-wrap:wrap; gap:.5em; align-content:start">
                            
                            @foreach (var tag in Model.Tags)
                            {
                                @Html.Partial("_TagView", model: tag.NameEng)
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-2 text-custom-blue">
                @Html.Partial("_StarsView", model: starsModel)
                <br />
                <div class="col-sm-12 vstack gap-3 mt-5 float-end">
                    @Html.Partial("_AvailabilityView", model: Model.Status)
                    @Html.Partial("_PriceView", model: Model.PriceStringFormat)
                </div>
            </div>
        </div>
    </div>
</a>
