<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/Content/images/IKONA_apartmani_1_veći_white.png" type="image/x-icon" />
    @System.Web.Optimization.Styles.Render("~/Content")
</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-custom navbar-dark">
        <div class="container-fluid">
            <div class="navbar-brand">
                <a href="~/Home/Index" class="navbar-brand">
                    <img src="~/Content/images/IKONA_apartmani_1_veći_white.png" alt="logo" style="height: 2rem; width: 2rem;" />
                </a>
                @Html.ActionLink("RWA Apartments", "Index", "Home", null, new { @class = "navbar-brand white-text fw-bold align-content-start font-goth" })
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="myNavbar">
            <hr class="vr bg-light" />
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link white-text font-goth" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("About us", "About", "Home", null, new { @class = "nav-link white-text font-goth" })
                    </li>
                </ul>

                <ul class="navbar-nav d-flex">
                    @if (HttpContext.Current.User.Identity.Name == "")
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Login", "Login", "Home", null, new { @class = "nav-link white-text font-goth" })
                        </li>
                    }
                    @if (HttpContext.Current.User.Identity.Name != "")
                    {
                        <li class="nav-item">
                            @Html.ActionLink($"{HttpContext.Current.User.Identity.Name}", "UserView", null, new { @class = "nav-link white-text font-goth" })
                        </li>

                        <li class="nav-item">
                            @Html.ActionLink("Logout", "Logout", "Home", null, new { @class = "btn btn-outline-danger font-goth" })
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid mt-3">
        @RenderBody()
    </div>

    <hr />

    <footer class="mt-3">
        <div class="text-center">
            <p class="footer-custom">&copy; @DateTime.Now.Year - RWA Apartmani - David Bašić</p>
        </div>
    </footer>

    @System.Web.Optimization.Scripts.Render("~/Scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
