@using Public.Models.ViewModels
@model DataLayer.Models.ApartmentReview
@{
    StarsVM starsVM = new StarsVM
    {
        Stars = Model.Stars,
    };
}

<div class="container tag_container_light rounded-3 mb-3 p-3">
    <div class="row">
        <div class="col-sm fs-3">
            <i class="fa-solid fa-user fa-xl" style="vertical-align:middle"></i> @Model.User.FirstName @Model.User.LastName | @Html.Partial("_StarsView", model: starsVM)
        </div>
    </div>

    <div class="row">
        <div class="col-sm fs-6">
            <p style="text-align:justify">" @Model.Details "</p>
            <p class="position-absolute bottom-0 end-0">@Model.CreatedAt.ToShortDateString()</p>
        </div>
    </div>
</div>
